<% content_for :head do %>
  <script type="text/javascript">
    console.log("yield head");
  </script>
<% end %>

<script type="text/javascript">
  console.log("index books");
</script>

<h1>Listing books</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @books %>

</table>

<br />

<%= link_to 'New Book', new_book_path %> |
<%= link_to 'Add Books', multi_new_books_path %>

<hr>

<%= link_to 'Action02', action02_books_path %>
