<%= form_tag(save_multi_books_path) do %>
    <% for book in @books %>
       <p>
         <%= fields_for "book[]", book do |f| %>
            Title <%= f.text_field :title %>
         <% end%>
       </p>
    <% end %>

        <p><%= submit_tag "Submit" %></p>
<% end %>