// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index.html.erb
.articles {
  .article {
    h5.article_title {
      a:hover {
        text-decoration: none;
      }
    }

    p.article_content {
      text-align: justify;
    }

    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #9A9A9A;
  }
}

// show.html.erb
.article_title {
  a:hover {
    text-decoration: none;
  }
}

